footer {
    min-height: 520px;
    padding: 79px 0 27px 0;
    background: $footer-color;
    & .title_color {
        color: #fff;
    }
    & .wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    & .callback {
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 266px;
        margin: 30px 129px 0 108px;
        padding: 30px 0 0 60px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        background: $main-btn-color;
        & h3 {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color:#fff;
        }
        & form {
            position: relative;
            margin-top: 37px;
            display: flex;
            flex-direction: column;
            z-index: 0;
            & #submit {
                    position: relative;
                    margin-top: 23px;
                    width: 409px;
                    height: 56px;
                    border-top-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    background: $golden-gradient;
                    color:$title-color;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    border: none;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left:0;
                        width: 100%;
                        height: 100%;
                        border-top-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        z-index: -1;
                        background: #fff;
                    } 
                    &:hover {
                        cursor: pointer;
                        background: $golden-gradient-hover;
                    }
                    &:active {
                        cursor: pointer;
                        background: $golden-gradient-active;
                    }     
               }
            & #inputPhone {
                width: 409px;
                border: none;
                color: white;
                padding: 0px 0px 7px 10px;
                border-bottom: 2px solid #F0C966;
                background-color: transparent;
                outline: none;
                &:active {
                    outline: 0;
                    outline-offset: 0;
                }
                &:hover {
                    outline: 0;
                    outline-offset: 0;
                }
                &:focus {
                    outline: 0;
                    outline-offset: 0;
                }
                &::placeholder {
                    color: #E2CCFF;
                }
            }
            & .wrap-checkbox {
                margin-top: 23px;         
            }
            & .label {
                font-weight: 400;
                font-size: 12px;
                color:#E2CCFF;
            }
            #checkbox {
                width: 15px;
                height: 15px;
            }
        }
    }
   
  
    & .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 524px;
        margin-top: 30px;
        padding-bottom: 60px;

        &-wrap {
            position: relative;
            display: flex;
            justify-content: center;
            max-width: 524px;
            padding-left: 50px;
            padding-bottom: 22px;
            border-bottom: 2px solid #F0C966;
            & a {
                font-weight: 700;
                font-size: 18px;
                text-decoration: none;
                color:#fff;
                text-transform: uppercase;
                &:first-child {
                    margin-right: 76px;
                }
            }
            & .phone {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -37px;
                    width: 27px;
                    height: 27px;
                    background: url("../icons/iconPhone.svg") center  no-repeat;
                }
            }  
            & .mail {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -37px;
                    width: 27px;
                    height: 27px;
                    background: url("../icons/iconEmail.svg") center  no-repeat;
                }
            }
        }
        &-prod {
            position: absolute;
            font-weight: 400;
            font-size: 15px;
            color: #E2CCFF;
            bottom:-30px;
            right: 30px;
        }
    }
    & .creator {
        display: flex;
        margin: 60px 0px 0px 30px;
        color: #E2CCFF;
        font-weight: 400;
        font-size: 15px;
            
            & a {
                // text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                color: #E2CCFF;
                &:first-child {
                    margin-right: 20px;
                }
            }
    }
}

