
$header-color: #BD8AFF;
$footer-color:#AD6DFF;
$title-color:#9E8C71;
$main-btn-color: linear-gradient(to top, #B176FF, #B882FF);
$main-btn-color-hover: linear-gradient(to top, #BF7EFF, #D09DFF );
$main-btn-color-active: linear-gradient(to top, #8448D2, #A572E7 );
$golden-gradient:linear-gradient( to left, #F0C966,#FFEBBA );  
$golden-gradient-hover:linear-gradient( to left, #FAD77F,#FFF4D9 );  
$golden-gradient-active:linear-gradient( to left, #FFDD87,#ECB526 );  
$popup-bg-color: linear-gradient(to top, #AB6AFF, #BD8AFF);
