footer {
    min-height: 461px;
    padding: 80px 0 80px 0;
    background: $footer-color;
    .title_color {
        color: #fff;
    }
    .wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
   
  
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 524px;
        p {
            text-align: center;
            margin-top: 20px;            
            font-size: 400;
            font-size: 18px;
            color: #fff;
        }

        &-wrap {
            position: relative;
            display: flex;
            justify-content: center;
            max-width: 524px;
            margin-top: 50px;
            padding-left: 50px;
            padding-bottom: 22px;
             a {
                font-weight: 700;
                font-size: 18px;
                text-decoration: none;
                margin-right: 76px;
                color:#fff;
                text-transform: uppercase;
                &:last-child {
                    margin-right: 0px;
                }
            }
            .whatsapp {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -37px;
                    width: 27px;
                    height: 27px;
                    background: url("../icons/wa.svg") center  no-repeat;
                }
            }  
            .telegram {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -37px;
                    width: 27px;
                    height: 27px;
                    background: url("../icons/tg.svg") center  no-repeat;
                }
            }
            .instagram {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -37px;
                    width: 27px;
                    height: 27px;
                    background: url("../icons/ig.svg") center  no-repeat;
                }
            }
            .vkontakte {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -37px;
                    width: 27px;
                    height: 27px;
                    background: url("../icons/vk.svg") center  no-repeat;
                }
            }
        }
    }
    .creator {
        display: flex;
        justify-content: center;
        margin: 100px 0px 0px 0px;
        color: #E2CCFF;
        font-weight: 400;
        font-size: 15px;
            
            a {
                margin-right: 12px;
                font-weight: 400;
                font-size: 15px;
                color: #E2CCFF;
                text-decoration: underline;
                &:last-child {
                    margin-right: 0px;
                    text-decoration: none;
                }
            }
    }
    .info {
        text-align: center;
        margin-top: 40px;
        font-weight: 400;
        font-size: 15px;
        color: #E2CCFF;
    }
}

