.main {
    position: relative;
    min-height: 1379px;
    padding: 90px 0 57px 0;
    overflow: hidden;
 
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: -2;
        background: $main-btn-color;
     
    }
    &__bg-ring {
        position: absolute;
        background: url("../icons/zodiacring.svg") center no-repeat;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: -1;
    }
    &__title_color {
        color: #FFFFFF;
    }
    &__title_margintop-reviews {
        margin-top: 116px;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        min-height: 413px;
    }
    &__service-wrap {
        // position: relative;
        display: flex;
        justify-content: center;
        height: 413px;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    &__service {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self:center;
        justify-content: center;
        margin: 0 20px 0 0;
        padding: 70px 70px 70px 76px;
        width: 413px;
        height: 298px;
        background:#FFFFFF;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        transition: height 1s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
            height: 370px;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top:10px;
            left:0;
            width: 100%;
            height: 100%;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
            background: $golden-gradient;
        }
        &:hover::before {
            background:  $golden-gradient-hover;
        }
        &:active::before {
            background: $golden-gradient-active;
        }
        &-title {
            font-size: 18px;
            font-weight: 700;
            color:#000000;
            line-height: 26px;
            text-transform: uppercase;
        }
        &-subtitle {
            margin-top: 8px;
            font-size: 15px;
            font-weight: 400;
            color: $title-color;
            line-height: 20px;
        }
        &-wrapper {
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
        }
        &-price {
            font-size: 18px;
            font-weight: 400;
            color:#000000;
        }
        &-more {
            position: relative;
            font-size: 14px;
            font-weight: 700;
            color: $title-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            &::after {
                content: "";
                position: absolute;
                top: 4px;
                right: -10px;
                width: 7px;
                height: 11px;
                background: url("../icons/Vector.svg") center  no-repeat;
            }
            &::before {
                content: "";
                position: absolute;
                top: 4px;
                right: -15px;
                width: 7px;
                height: 11px;
                background: url("../icons/Vector.svg") center  no-repeat;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__separator {
        display: block;
        margin: 58px auto 0px;
    }
    &__vector {
        margin-top: 94px;
        display: flex;
        justify-content: center;
        &-left {
            margin-right: 25px;
            &:hover {
                cursor: pointer;
            }
        }
        &-right {
            &:hover {
                cursor: pointer;
            }
        }
        
    }
   
    &__reviews-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__reviews-card {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 57px;
        width: 630px;
        height: 318px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        background: #E2CCFF;
        &:first-child {
            margin-right: 40px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__reviews-vector {
        position: relative;
        
    }
    &__reviews-wrap-title {
        display: flex;
    }
    &__reviews-img {
        width: 15%;
        margin-right: 5%;
    }
    &__reviews-name {
        color:$title-color;
        margin-top: 20px;
        font-size: 15px;
        font-weight: 400px;

    }
    &__reviews-title {
        margin-top: 16px;
        color:#000000;
        font-size: 18px;
        font-weight: 700px;
        text-transform: uppercase;
    }
    &__reviews {
        overflow: hidden;
        color:#000000;
        font-size: 18px;
        font-weight: 400px;
        line-height: 26px;
    }
    &__reviews-more {
        color:$title-color;
        font-size: 15px;
        font-weight: 400px;
    }
    &__reviews-descr {
        position: relative;
        margin-top: 36px;
        padding: 0px 40px 0 40px;

    }
    &__reviews-add {
        position: relative;
        display: flex;
        margin-top: 40px;
        color:#fff;
        font-size: 14px;
        font-weight: 700px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
            cursor: pointer;
            &::after {
                cursor: pointer;
                transform: translateX(10px);
            }
            &::before {
                cursor: pointer;
                transform: translateX(10px);
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 4px;
            right: -10px;
            width: 7px;
            height: 11px;
            background: url("../icons/VectorWhite.svg") center  no-repeat;
            transition: all 1s;
        }
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            right: -17px;
            width: 7px;
            height: 11px;
            background: url("../icons/VectorWhite.svg") center  no-repeat;
            transition: all 1s;
        }
        &-wrap {
            display: flex;
        }
    }

}


